* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: #AD926C;
}

.hero {
    background-image: url('./images/pexels-amurephotography-9833516.jpg');
    background-size: cover;
    height: 550px;
}

#hero-title {
    color: #ffff;
    margin-top: 120px;
    background: #AD926C;
    padding: 5px 10px;
    border-radius: 5px;
}

#hero-desc {
    background: #262f13;
    margin-top: 10px;
    padding: 5px 10px;
    color: #ffff;
    border-radius: 5px;

}


.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities-section {
    height: 400px;
}

#activity-title {
    color: #262f13;
    margin: 20px 0 5px 0;
}

#img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 15px;

}

.activities-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#activity-desc {
    color: #262f13;
    width: 250px;
    height: 100px;
    padding: 10px;
}

